<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QLDKSDIConnectionString" connectionString="Data Source=DESKTOP-NSVI41J\SQLEXPRESS;Initial Catalog=QLDKSDI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DAO.Properties.Settings.QLDKSDIConnectionString1"
            connectionString="Data Source=THANHPHUC\SQLEXPRESS;Initial Catalog=QLDKSDI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>